@model Munchkin.Models.MapMeModel
@{
    ViewBag.Title = "Map Me";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<script type="text/javascript">

    var lat;
    var long;
    var coords;

    //Check if browser supports W3C Geolocation API
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
    } else {
        alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
    }



    function successFunction(position) {
        lat = position.coords.latitude;
        long = position.coords.longitude;

        var thediv = document.getElementById('mylocation');
        thediv.innerText = '<p>Your longitude is :' +
            long + ' and your latitide is ' + lat + '</p>' +
            '<img src="http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/' +
            lat + ';' + long +
            '/@Model.ZoomLevel?mapSize=500,500&pp=' +
            lat + ';' + long +
            ';;@Model.UserInitials&key=@Model.BingKey" /'
        ;

        coords = lat + ";" + long;

        //alert('Your latitude is :' + lat + ' and longitude is ' + long)
        initializeTextBox();
    }

    function loadMap() {
        document.getElementById("map").src = "http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/" + coords + "/@Model.ZoomLevel?mapSize=500,500&pp=" + coords + ";;@Model.UserInitials&key=@Model.BingKey";
    }

    function initializeTextBox() {

        document.getElementById("Coordinates").value = coords;

    }

    function errorFunction(position) {
        alert('Error!');
    }



</script>


@Html.AntiForgeryToken()
@Html.ValidationSummary()

<fieldset>
    <legend>Registration Form</legend>
    <ol>
        <li>
            @Html.LabelFor(m => m.UserInitials)
            @Html.TextBoxFor(m => m.UserInitials)
        </li>
        <li>
            @Html.LabelFor(m => m.Coordinates)
            @Html.TextBoxFor(m => m.Coordinates)
        </li>
        <li>
            @Html.LabelFor(m => m.ZoomLevel)
            @Html.TextBoxFor(m => m.ZoomLevel)
        </li>

    </ol>

    <input type="submit" value="Map Me!" onclick="loadMap" />

</fieldset>

<p>
    <img id="map" src="http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/@Model.Coordinates/@Model.ZoomLevel?mapSize=500,500&pp=@Model.Coordinates;;@Model.UserInitials&key=@Model.BingKey" />
</p>
<div id="mylocation"></div>

<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmunchkin.azurewebsites.net&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

