@model Munchkin.Models.MapMeModel
@{
    ViewBag.Title = "Map Me";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@using (Html.BeginForm("MapMe", "Home"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserInitials)
                @Html.TextBoxFor(m => m.UserInitials)
            </li>
            <li>
                @Html.LabelFor(m => m.Coordinates)
                @Html.TextBoxFor(m => m.Coordinates)
            </li>
            <li>
                @Html.LabelFor(m => m.ZoomLevel)
                @Html.TextBoxFor(m => m.ZoomLevel)
            </li>

        </ol>

        <input type="submit" value="Map Me!" />

    </fieldset>
}
<p>
    <img src="http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/@Model.Coordinates/@Model.ZoomLevel?mapSize=500,500&pp=@Model.Coordinates;;@Model.UserInitials&key=@Model.BingKey" />
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

